---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { siteConfig } from '@/site-config'

const MAX_POSTS = 5 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Home'>
	<TitlePage title={siteConfig.title} />

	<ListCategories />

	<!-- Intro Section -->
	<section class='my-8 p-6 rounded-lg bg-gray-100 dark:bg-gray-900 flex flex-col items-center'>
		<div class='w-full max-w-4xl overflow-hidden mb-5 rounded-lg'>
			<img
				src='/MITAssistiveTechnologyClubPhotoSpring2024.jpg'
				alt='MIT Assistive Technology Club Spring 2024'
				class='w-full h-80 object-cover rounded-lg'
				style='object-position: top ;'
			/>
		</div>
		<h2 class='text-4xl font-bold mb-2 text-center'>Welcome to MIT Assistive Technology Club</h2>
		<p class='text-xl italic font-semibold text-center mb-2'>
			Designing today for a more inclusive tomorrow.
		</p>
		<br />
		<p class='text-lg px-8 mb-10 text-center'>
			Our mission is to make the world more accessible to everyone by building connections within
			our community and fostering collaborative efforts to create inclusive technology.
		</p>
		<a
			href='/category/about/1'
			class='text-white font-semibold bg-indigo-700 px-4 py-2 mb-10 rounded transition hover:bg-indigo-900'
			>Learn more about us</a
		>
	</section>

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Latest Posts</h2>
		<ListPosts FirstBig={true} posts={posts} />
	</div>
</BaseLayout>

<script>
	import { animate } from 'motion'
	const showAnimations = localStorage.getItem('animations') === 'true'

	if (showAnimations) {
		animate(
			'.title',
			{ y: [80, 0], opacity: [0, 1] },
			{
				duration: 2.5,
				opacity: { duration: 3 },

				offset: [0, 0.55, 0.75]
			}
		)
	}
</script>
