---
import Title from './Title.astro'
type Props = {
	title: string
}

const { title } = Astro.props
---

<div class='flex justify-start items-center gap-2 title'>
	<img
		src='/favicon.svg'
		alt='MIT Assistive Technology Logo'
		class='h-[2.15em] relative top-[1px] pr-1 w-auto'
	/>
	<Title>{title}</Title>
</div>
